<h1>Charity Details</h1>

<table border="1">
<thead>
    <tr>
    <th>Charity_domain</th>
    <th>Donor_name</th>
    <th>Donation_date</th>
    <th>Donation_amount</th>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
    </tr>
</thead>
<tbody>
    {% for c in object_list %}
    <tr>
    <td>{{ c.Charity_domain}}</td>
    <td>{{ c.Donor_name }}</td> 
    <td>{{ c.Donation_date}}</td>
    <td>{{ c.Donation_amount}}</td>  

    <td><a href="{% url "charity_view" c.id %}">view</a></td>
    <td><a href="{% url "charity_edit" c.id %}">edit</a></td>
    <td><a href="{% url "charity_delete" c.id %}">delete</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>

<a href="{% url "charity_new" %}">New</a>